body{
    padding: 0;
    margin: 0;
}

#page{
    text-align: center;
}

.menu{
    display: flex;
    flex-direction: row;
    align-items: center;
}


header{
    background-color: #569C87 ;
    padding: 5px 5px 5px 5px;
    font-size: 30px;
}

h1 span{
    background-color: #569C87;
    border-radius: 15px;
    padding: 10px 35px 10px 35px;
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #569C87;
}