body{
    padding: 0;
    margin: 0;
    font-family: "Titillium Web","Trebuchet MS","Lucida Sans Unicode","Lucida Sans",Arial,sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header{
    background-color: #569C87 ;
    padding: 1px 3px 1px 3px;
    font-size: 30px;
    text-align: center;
}

header p{
    color: #FFCA28;
    margin: auto;
}

h2{
    font-weight: 100;
    text-align: center;
}

a{
    text-decoration: none;
}

nav{
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
}

section {
    height: 500px;
}

img{
    width: 45px;
    height: 50px;
}

.note1{
    width: 45px;
    height: 50px;
    padding-top: 80px;
}

.ligne1{
    display: flex;
    align-items: center;
    justify-content: center; 
}

.ligne1 p, .ligne2 p{
    font-size: 35px;
}

.ligne2{
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu_menu1{
    background-color: #fcdfdb;
    font-family: "Devonshire","Trebuchet MS","Lucida Sans Unicode","Lucida Sans",Arial,sans-serif;
    box-shadow: 0 0 13px 3px #ccc;
    padding: 100px;
    margin: 80px;
    width: 100%;
    text-decoration: none;
    color: black;
}

.bloc-menu{
    min-width: 300px;
    transition-property: transform; 
    transition-duration: 400ms; 
}

.bloc-menu:hover {
    transform: scale(1.1);
    opacity: 0.6;
}

.menu1 p{
    font-family: "Balsamiq Sans","Trebuchet MS","Lucida Sans Unicode","Lucida Sans",Arial,sans-serif;
    color: black;
}

.menu1 h2{
    color: black;
}

.menu2, .menu3, .menu4{
    padding-top: 130px;
}

.menu_menu2{
    background-color: #fff5fe;
    box-shadow: 0 0 13px 3px #ccc;
    padding: 100px;
    margin: 80px;
    width: 100%;   
}

.menu_menu2 h2 {
    background: linear-gradient(135deg, #d7832c 0%, #a97af3 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;  
    font-family: "Redressed","Trebuchet MS","Lucida Sans Unicode","Lucida Sans",Arial,sans-serif;
}

.menu2 p{
    font-family: "Abril Fatface","Trebuchet MS","Lucida Sans Unicode","Lucida Sans",Arial,sans-serif;
    color: #d8852e;
}

.menu_menu3{
    background-color :#edefef;
    box-shadow: 0 0 13px 3px #ccc;
    padding: 100px;
    margin: 80px;
}

span {
    font-weight: bold;
}

.menu_menu3 h2 {
    font-family: "Dancing Script","Trebuchet MS","Lucida Sans Unicode","Lucida Sans",Arial,sans-serif;
    width: 100%;
    background: linear-gradient(to right, #3F51B5 0%, #0083fb 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.menu3 p{
    font-family: "Kalam","Trebuchet MS","Lucida Sans Unicode","Lucida Sans",Arial,sans-serif;
    color: #0431df;
}

.menu_menu4{
    background-color: #fdfffd;
    box-shadow: 0 0 13px 3px #ccc;
    padding: 100px;
    margin: 80px;
}

.menu_menu4 h2 {
    font-family: "Kaushan Script","Trebuchet MS","Lucida Sans Unicode","Lucida Sans",Arial,sans-serif;  
    width: 100%;
    background: linear-gradient(to right, #3D923A 0%, #C2FF88 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.menu4 p{
    font-family: "Kalam","Trebuchet MS","Lucida Sans Unicode","Lucida Sans",Arial,sans-serif;
    color: #3d9339;
}

.prochainement{
    display: flex;
    justify-content: center;
    text-align: center;
    padding-bottom: 60px;
}

h2 span{
    background-color: #569C87;
    border-radius: 15px;
    padding: 10px 35px 10px 35px;
    color: #FFCA28;
}

footer{
    display: flex;
    justify-content: space-around;
    background-color: #569C87;
    position: sticky;
    bottom: 0;
    width: 100%;
    margin-top: auto;
}    


footer h2{
    color: #FFCA28;
    margin: 7px;
}

footer h2:hover {
    transition-property: transform;
    transition: transform 330ms ease-in-out;
    transform: translate(100%);
    transition-duration: 1s;

}



/* Page1 */ 

.logo {
    font-size: 40px;
    margin: 5px;
}

.menu-note {
    background-color: #fcdfdb;
    box-shadow: 0 0 13px 3px #ccc;
}

.menu{
    width: 50%;
    min-width: 300px;
    margin: 20px auto 40px auto;
    height: auto;
}

.menu h2, .menu h3 {
    text-align: center;
}

.menu section {
    width: 90%;
    height: auto;
    margin: auto;
}

.menu p {
    display: flex;
    justify-content: space-between;
    font-family: 'segoe print', 'Kalam', cursive;
    font-size: 15px;
}


.restaurant-name {
    font-size: 30px;
    text-align: center;
}

.menu-note h2{
    margin: 1px;
    color: black;
    font-size: 50px;
}

h2{
    font-size: 30px;
}

.la_note_enchantee{
    text-align: center;
    font-family: "Devonshire","Trebuchet MS","Lucida Sans Unicode","Lucida Sans",Arial,sans-serif;
    font-size: 30px;
    font-weight: 100;
}

.sign_note{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 40px;
    margin-right: 40px;
}


.note2{
    padding-right: 10px;
    padding-top: 30px;
    margin-bottom: 50px;
    width: 35px;
    height: 40px;
}

.note3 {
    width: 45px;
    height: 50px;
    padding-top: 25px;
}

.barre {
    width: 30%;
    height: 10%;
}

.barre_Page {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-family: 'segoe print', 'Kalam', cursive;
}

/* page2 */

.page2 {
    background-color: #fff5fe;
    box-shadow: 0 0 13px 3px #ccc;
    width: 60%;
    min-width: 300px;
    margin: 20px auto 125px;
    padding: 20px 10px;
    height: auto;
}

.page2 p {
    font-family: "Scheherazade","Trebuchet MS","Lucida Sans Unicode","Lucida Sans",Arial,sans-serif;
    font-size: 25px;
    margin: 0;
}

.page2 h3 {
    font-size: 35px;
    margin-top: 60px;
    font-family: "Scheherazade","Trebuchet MS","Lucida Sans Unicode","Lucida Sans",Arial,sans-serif;
}

.page2 section, .page2 h2{
    background: linear-gradient(135deg, #d7832c 0%, #a97af3 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.le_chic_a_la_française h2{
    text-align: center;
    font-family: "Redressed","Trebuchet MS","Lucida Sans Unicode","Lucida Sans",Arial,sans-serif;
}


/* page3 */


.page3{
    background-color: #edefef;
    box-shadow: 0 0 13px 3px #ccc;
    width: 50%;
    min-width: 300px;
    margin: 20px auto 120px;
    padding: 20px 10px;
    height: auto;
}

.page3 p, .page3 h3{
    font-size: 15px;
    font-family: 'segoe print', 'Kalam', cursive;
}

.page3 h2{
    font-family: "Dancing Script","Trebuchet MS","Lucida Sans Unicode","Lucida Sans",Arial,sans-serif;
    background: linear-gradient(to right, #3F51B5 0%, #0083fb 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.le_delice_des_papilles{
    text-align: center;
}


/* page4 */


.page4{
    background-color: #fdfffd;
    box-shadow: 0 0 13px 3px #ccc;
    width: 50%;
    min-width: 300px;
    margin: 20px auto 110px;
    padding: 20px 10px;
    height: auto;
}

.page4 p, .page4 h3{
    font-size: 15px;
    font-family: 'segoe print', 'Kalam', cursive;
}    

.la_palette_du_gout{
    text-align: center;
}

.page4 h2 {
    font-family: "Kaushan Script","Trebuchet MS","Lucida Sans Unicode","Lucida Sans",Arial,sans-serif;  
    background: linear-gradient(to right, #3D923A 0%, #C2FF88 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

/** responsive "Ohmyfood" **/


@media all and (min-width: 700px) and (max-width: 1200px){
    header {
        text-align: center;
    }
 
    body {
        display: block;
        width: 100%;
    }

    nav {
        display: block;
    }

    .ligne1, .ligne2 {
        display: flex;
        flex-direction: column;
    }

    .bloc-menu {
        min-width: 50px;
    }

    .menu_menu1, .menu_menu2, .menu_menu3, .menu_menu4 {
        width: 40%;
        padding: 70px;
        margin: 50px;
    }
    
    section {
        height: 450px;
    }

    section h3 {
        margin: 20px;
    }

    .prochainement { 
        padding-bottom: 55px;
    }

    .menu {
        width: 85%;
    }

/** responsive "chic française" **/

    .page2 h3 {
        margin: 20px;
    }

}

@media all and (min-width: 300px) and (max-width: 700px){
    header {
        width: 100%;
    }

    body {
        display: block;
        width: 100%;
    }

    nav {
        display: block;
    }

    .ligne1, .ligne2 {
        display: flex;
        flex-direction: column;
    }

    .note1 {
        padding-top: 15px;
    }

    .bloc-menu {
        min-width: 80px;
        padding-top: 30px;
    }

    .menu p {
        display: flex;
        flex-direction: column;
    }

    .menu_menu1, .menu_menu2, .menu_menu3, .menu_menu4 {
        width: 40%;
        padding: 70px;
        margin: 40px;
        text-align: center;
    }
    
    section {
        text-align: center;
        height: 300px;
    }

    h3 {
        padding-top: 30px;
        padding-bottom: 5px;
    }

    .prochainement { 
        padding-bottom: 30px;
    }
    
    footer h2, .prochainement h2{
        font-size: 20px;
    }

/** responsive note enchantée **/

    .menu {
        width: 30%;
        margin: auto auto 20px auto;
    }

    .barre {
        display: none;
    }

    .page1 h3, .page3 h3, .page4 h3 {
        margin: auto;
        font-size: 25px;
    }

    .note2 {
        margin-top: 45px;
        padding-right: 1px;
    }


/** responsive chic française **/

    .page2 h3 {
        margin: auto;
        font-size: 30px;
    }

    .page2 p {
        font-size: 25px;
    }
}